In [4]:
# double is defined to multiply the element by 2
def double(sequence):
    result = []
    for element in sequence:
        result = result + [element * 2]
    return result

In [5]:
double([1, 10, 5])

[2, 20, 10]

In [8]:
#testing a list of numbers to "double"
double([-42, 0, 42])

[-84, 0, 84]

In [9]:
double([])

[]

In [10]:
double()

TypeError: double() takes exactly 1 argument (0 given)

In [11]:
#creating a variable that is a list of numbers
x = [1, 2, 3]

In [12]:
double(x)

[2, 4, 6]

In [13]:
x

[1, 2, 3]

In [17]:
x

[1, 2, 3]

[]